@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-red: #c81e1e;
  --color-brand-bg: #f8f9fa;
  --color-brand-border: #e0e0e0;
  --color-grid-header: #f5f5f5;

  --color-gray-100: #f3f4f6;
  --color-gray-400: #9ca3af;
  --color-gray-700: #374151;
  --color-bit-dark-green: #438361; /* --Bit-Dark-Green */
  --color-bit-light-green: #edf3ec;
  --color-bit-light-blue: #e7f3f8;

  --font-sans: "Inter", system-ui, sans-serif;

  --shadow-shadow1: 0px 4px 4px 0px #00000040;
}

:root {
  font-family: var(--font-sans);
  background-color: var(--color-brand-bg);
}

.scrollbar-thin::-webkit-scrollbar {
  height: 10px; /* Horizontal scrollbar thickness */
  width: 10px; /* Vertical scrollbar thickness */
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #9ca3af;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-300 */
  border-radius: 20px;
  border: 3px solid transparent; /* "padding" around the scrollbar so it floats */
  background-clip: content-box;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400 on hover */
}

/* Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
